<section class="products-section" id="produse">
  <div class='wrap' id='wrap'>
    <section class='shop clearfix'></section>
  </div>

  <script id='productTemplate' type='text/template'>
    <div class="product wow fadeIn">
    <h1></h1>
    <p></p>
    <div class="button">
    <div class="price"></div>
    <a class="addtocart">
    <div class="add">Adaugă în coș</div>
    <div class="added">Adăugat!</div>
    </a>
    </div>
        <a class="expand-link" href="" data-lightbox="" data-title=""><i class="fa fa-expand"></i></a>
    </div>
  </script>
  <script id='cartItem' type='text/template'>
    <li><div class="cart-product">
    <input class="quantity" value="1" disabled>
    </div><div class="cart-description">
    <h3></h3>
    <span class="subtotal"></span>
    </div>
        <i class="fa fa-times"></i>
    </li>
  </script>

</section>
