<footer id="footer">
  <div class="row middle-xs contact-footer">
      <div class="col-xs-12 col-md-4 center-xs start-md last-xs first-md">
          <div class="box">
              <p>© 2016</p>
          </div>
      </div>
      <div class="col-xs-12 col-md-4 center-xs">
          <div class="box">
              <div class="social-footer">
                  <ul>
                      <li>
                          <a href="https://www.facebook.com/bijunicat/" target="_blank"><i class="fa fa-facebook"></i></a>
                      </li>
                      <li>
                          <a href="#in"><i class="fa fa-linkedin"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
      <div class="col-xs-12 col-md-4 end-xs">
          <div class="box">

          </div>
      </div>
  </div>
</footer>
