<header id="header">

<!-- <video autoplay loop muted>
    <source src="./assets/videos/moving_grass.mp4" type="video/mp4">
    <source src="./assets/videos/moving_grass.webm" type="video/webm">
</video> -->

<input type="checkbox" id="sidebartoggler" name="" value="">

<div id='cart'>
<h2>Coș de comandă</h2>
<ul class='cart-items'></ul>
<div class='total'>
  <div class='finalTotal'>
    Total
    <span>0 Lei</span>
  </div>
  <a class='checkout' href="#comanda">
    Vezi comandă detaliată
  </a>
</div>
</div>

  <nav>
    <label for="sidebartoggler" class="toggle">
      <span class="fa fa-shopping-cart"></span>
          <span class='cart-quantity empty'>0</span>
    </label>
  </nav>


  <div class="row center-xs big-logo">
          <div class="col-xs-12 col-md-4">
              <div class="box">
                   <img src="./assets/images/logo-transparent.png" class="img-responsive" alt="">
              </div>
          </div>
      </div>



</header>
